@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Sacramento&display=swap');
/* font-family: 'Quicksand', sans-serif;
font-family: 'Sacramento', cursive; */

.detailViewer_blackTop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: rgba(0,0,0,.85);
}

.detailViewContainer {
  /* border: 1.5px solid rgba(198, 184, 169, 0.85); */
  /* position: fixed; */
  /* top: 7rem; */
  /* left: 3.5rem; */
  height: 75vh;
  width: 85vh;
  /* height: 100vh;
  width: 100vw; */
  /* z-index: 10; */
  /* background-color: rgba(0, 0, 0, 0.9); */
  background-color: rgba(5, 138, 102, 0.85);
  /* background-color: rgba(198, 184, 169, 0.85); */
  /* background-color: rgba(241, 91, 181, 0.85); */
  /* background-color: rgba(255, 205, 178, 0.85); */
  /* background-color: rgba(13, 136, 111, 0.85); */
  padding: 1rem;
  margin: 19vh auto;
  border-radius: 25%;
}

.detailViewer_topRow {
  margin: 3rem auto 3rem;
}
.detailViewer_topCol {

}
.detailViewer_subRow {
  /* height: 30vh; */
  /* border: 1px solid #ffffff; */
  overflow: scroll;
}
.xRow {
  height: 35vh;
  margin: 1rem;
}
.detailViewer_buttomRow {

}

.detailViewer_text {
 color: #ffffff;
 font-family: 'Quicksand', sans-serif;
 margin: .7rem auto;
}
.detailViewer_topHeading {
 color: #ffffff;
 font-family: 'Sacramento', cursive;
 margin: 0 auto;
}

.detailViewer_closeBtn {
  margin: 0 auto;
}

.team_links {
  text-align: center;
  height: fit-content;
  margin-bottom: 1rem;
}
.detailViewer_linkList {
  padding: 0;
  margin: 0 auto;
}
.detailViewer_linkListItem {
  list-style-type: none;
}
.bio_row {
  margin: 0 auto;
}

@media only screen and (max-width: 420px) {

  .detailViewContainer {
    left: 1rem;
    height: 75vh;
    width: 93vw;
  }
  .xRow {
    height: 45vh;
    margin: 1rem;
  }
  .detailViewer_text {
    margin: .7rem 1rem;
  }
  .detailViewContainer {
    border-radius: 7rem;
  }

}
