@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Sacramento&display=swap');
/* font-family: 'Quicksand', sans-serif;
font-family: 'Sacramento', cursive; */



.detailViewer_blackTop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: rgba(0,0,0,.85);
}

.detailViewContainer {
  height: 75vh;
  width: 70vw;
  background-image: linear-gradient(rgba(197, 31, 113, .7),	rgba(236, 161, 48, .7));
  padding: 1rem;
  margin: 19vh auto;
  border-radius: 10rem;
}

.detailViewer_topRow {
  margin: 1rem auto 3rem;
  height: 90%;
}
.detailViewer_topCol {
  padding: 0;
}
.detailViewer_subRow {
  overflow: scroll;
}
.xRow {
  height: 58vh;
  margin: 1rem;
  text-align: center;
}
.detailViewer_buttomRow {

}

.detailViewer_text {
 color: #ffffff;
 font-family: 'Quicksand', sans-serif;
 margin: .7rem auto;
 font-size: 1.2rem;
}
.detailViewer_topHeading {
 color: #ffffff;
 font-family: 'Sacramento', cursive;
 margin: 0 auto;
 font-size: 4rem;
}

.detailViewer_closeBtn {
  margin: 0 auto;
}

.team_links {
  text-align: center;
  height: fit-content;
  margin-bottom: 1rem;
}
.detailViewer_linkList {
  padding: 0;
  margin: 0 auto;
}
.detailViewer_linkListItem {
  list-style-type: none;
}
.detail_content_row {
  margin: 0 auto;
  padding: 1rem;
  overflow: scroll;
}
.detailViewer_Img {
  margin: 0 auto 3rem auto;
  border-radius: 15px;
}
.detailStaffImg {

}
.locationDetailImg {
  width: 200% !important;
}
.detailViewer_text {
  margin: 0 auto;
  color: #ffffff;
}

@media only screen and (max-width: 420px) {

  .detailViewContainer {
    left: 1rem;
    height: 75vh;
    width: 93vw;
    padding: 0;
  }
  .xRow {
    height: 60vh;
    margin: 1rem;
  }
  .detailViewer_text {
    margin: .7rem 1rem;
  }
  .detailViewContainer {
    border-radius: 7rem;
  }
  .detailViewer_Img {
    margin: 3rem 0 0 0;
  }

}

@media only screen and (min-height: 960px) {

  .xRow {
    height: 58vh;
  }

}
