@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Sacramento&display=swap');
/* font-family: 'Quicksand', sans-serif;
font-family: 'Sacramento', cursive; */


.mobile {
  display: none;
}
.mainDiv_team {
  background-image: url("../assets/imgs/Team_Portrait.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-size: contain; */
}
.mainDiv_path {
  /* background-image: url("../assets/imgs/Process_1.jpg"); */
  background-image: url("../assets/imgs/Process_Portrait2.jpg");
  /* background-size: contain; */
  background-position: center;
  /* background-size: stretch; */
  background-size: cover;
  /* background-repeat: no-repeat; */
  /* padding-bottom: 1rem; */
}
.mainDiv_retreat {
  background-image: url("../assets/imgs/Retreat_Portrait.jpg");
  /* background-size: contain; */
  background-position: center;
  background-size: cover
}
.mainDiv_shop {
  background-image: url("../assets/imgs/Retreat_Portrait.jpg");
  /* background-size: contain; */
  background-position: center;
  background-size: cover
}
.mainDiv_socialMedia {
  background-image: url("../assets/imgs/Splash_Portrait.jpg");
  /* background-size: contain; */
  background-size: cover
}
.mainDiv_contact {
  background-image: url("../assets/imgs/Retreat_1.jpg");
  background-size: cover;
  /* background-size: contain; */
}
.companyPage_maindiv {
  /* border: 1px solid black; */
  /* height: 100vh; */
  width: 100vw;
  /* z-index: 3; */
}

.companyPageRow {
  /* border: 1px solid yellow; */
  height: 100%;
  width: 100%;
  margin: 0;
}

.companyPageCol {
  /* border: 1px solid blue; */
  /* margin: 0 auto; */
  /* max-width: 60%; */
  /* padding: 45vh 0; */
  padding: 7rem 0 0 0;
  text-align: center;
}

.companyPageSubRow1 {
  margin: 0 auto;
  width: 80%;
  text-align: center;
  /* border: 1px solid blue; */
  border-radius: 5px;
  /* background-color: rgba(0, 0, 0, 0.6); */
  background-color: rgba(198, 184, 169, 0.95);
  padding: 1.5rem 1.5rem;
}
.companyPageSubRow2 {
  margin: 9rem auto;
  width: 100%;
  text-align: center;
  /* height: 50vh; */
  /* border: 1px solid blue; */
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.9);
  position: relative;
  z-index: 3;
}

.companyPageHeading {
  margin: 0 auto;
  /* display: block; */
}
.team_text {
  /* color: #F3E37C !important; */
}
.path_text {
  /* color: #3AB795 !important; */
}
.retreat_text {
  /* color: #FC7A57 !important; */
}
.shop_text {
  /* color: #FC7A57 !important; */
}
.socialMedia_text {
  /* color: #78A35F !important; */
}
.contact_text {
  /* color: #D88300 !important; */
}

.companyPage_topRow_head {
  height: 5rem;
  width: 5rem;
  /* border: 1px solid blue; */
  /* display: inline-block; */
}

.companyPage_top_heading {
  color: #ffffff;
  font-family: 'Sacramento', cursive;
  font-size: 4rem;
  margin: .5rem;
}
.companyPage_top_subtitle {
  color: #ffffff;
  margin-left: 1.5rem;
  font-family: 'Quicksand', sans-serif;
}
.CompanyPage_HeadLogo {
  height: 11rem;
}

.topCol2 {
  float: right;
}

.companyPage_section_row {
  height: fit-content;
  /* height: 30vh; */
  /* border: 1px solid blue; */
  /* position: relative; */
}
.grid_topRow {
  /* border: 1px solid blue; */
  height: fit-content;
  width: 100vw;
  margin: .5rem auto;
  display: inline-block;
}
.grid_mainRow {
  display: inline-block;
  width: 100vw;
  text-align: center;
  margin: 0 !important;
}
.marginText {
  margin: 3.5rem 5.5rem;
}
.content_section_grid_cell {
  /* border: 1px solid blue; */
  padding: 1.5rem;
  /* padding: 3.5rem; */
  /* overflow: scroll; */
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.95); */
}
.desktop_splinterCell {
  margin: 0 auto;
}

.content_section_grid_cell_img {
  height: 100%;
  /* width: 9rem; */
  border-radius: 15%;
  /* margin: 0 1.5rem; */
}
.facilitator_img {
  height: 9rem;
}
.cell_image_caption {
  margin: .5rem auto;
  color: #ffffff;
}
.cell_team_btn {
  border: none;
}
.cell_team_btn:hover > p {
  color: rgba(5, 138, 102, 0.85);
}
.specialHead {
  margin: 5rem;
  color: #ffffff;
  font-family: 'Sacramento', cursive;
  font-size: 5rem;
}
.is {
  font-size: 2rem !important;
}
.content_section_grid_text {
  color: #ffffff;
  /* max-height: 60%; */
  font-size:  1.1rem;
  /* background-color: rgba(0, 0, 0, 0.75); */
  border-radius: 15px;
  font-family: 'Quicksand', sans-serif;
}
.main_content_section_background {
  /* border: 1px solid blue; */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  padding: 1rem;
  /* background-color: rgba(0, 0, 0, 0.85); */
}
.content_section_bg_row {
  /* text-align: center; */
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.8) */
}
.content_bg_img {
  /* margin: 9rem auto; */
  margin: auto;
  height: 55%;
  z-index: -1;
}
.footerRow {
  /* border: 1px solid blue; */
  bottom: .5rem;
  left: 1rem;
  /* background-color: rgba(0, 0, 0, 0.85); */
  /* background-color: rgba(255, 205, 178, 0.85); */
  /* background-color: rgba(241, 91, 181, 0.85); */
  background-color: rgba(198, 184, 169, 0.95);
  /* background-color: rgba(245, 121, 131, 0.85); */
  /* background-color: rgba(13, 136, 111, 0.85); */

  /* background-color: rgba(5, 138, 102, 0.85); */
  padding: 0 1rem;
  /* background-color: #FC7A57; */
}

.footer_topRow {
  /* border: 1px solid blue; */
}
.footer_topRow_text {
  margin: 1rem auto 1rem 1rem;
  color: rgba(5, 138, 102, 09);
  font-weight: bold;
}
.footer_midRow {
  /* border: 1px solid blue; */
}
.footer_midCol {
  /* border: 1px solid blue; */
}
.footer_navList {
  /* border: 1px solid blue; */
  list-style-type: none;
  padding: 0;
}
.footer_navListItem {
  /* border: 1px solid blue; */
}
.footer_socialList {
  /* border: 1px solid blue; */
  list-style-type: none;
  padding: 0;
}
.footer_socialListItem {
  /* border: 1px solid blue; */
  text-align: right;
}
.footer_copyrightRow {
  /* border: 1px solid blue; */
  text-align: center;
}
.footer_copyrightRow_text {
  font-size: x-small;
  margin: 0 auto .3rem;
  /* color: #ffffff; */
  color: rgba(5, 138, 102, 0.85);
}
.footerIcon {
  color: rgba(5, 138, 102, 0.85);
}

.formLabel {
  color: #ffffff;
}
.sub_btn {
  margin: 1rem auto;
}
.footer_navBar_link {
  color: rgba(5, 138, 102, 0.85);
}

@media only screen and (max-width: 420px) {

  .companyPage_top_heading {
    font-size: 2.5rem;
    margin: 0 auto;
    color: #ffffff;
  }
  .companyPage_top_subtitle {
    margin: 1rem auto;
  }
  .CompanyPage_HeadLogo {
    height: 5rem;
    margin: 0 auto;;
  }

  .mobile {
    display: inline-block;
  }
  .desktop {
    display: none;
  }

  .mainDiv_team {
    background-image: url("../assets/imgs/Team_Portrait3.jpg");
    /* background-size: contain; */
    background-position: center;
    /* background-size: cover; */
  }
  .mainDiv_path {
    /* background-image: url("../assets/imgs/Process_1.jpg"); */
    background-image: url("../assets/imgs/Process_Portrait3.jpg");
    background-position: center;
  }
  .mainDiv_retreat {
    background-image: url("../assets/imgs/Retreat_Portrait.jpg");
  }
  .mainDiv_shop {
    background-image: url("../assets/imgs/Retreat_Portrait.jpg");
  }
  .mainDiv_socialMedia {
    background-image: url("../assets/imgs/Splash_Portrait.jpg");
  }
  .mainDiv_contact {
    background-image: url("../assets/imgs/Retreat_1.jpg");
  }
  .companyPage_maindiv {
  }

  .companyPage_maindiv {
    width: 100%;
    /* width: 101vw; */
  }

  .companyPageSubRow1  {
    padding: 1rem;;
  }
  .companyPageSubRow2  {
    margin: 1.9rem auto;
    height: fit-content;
    /* height: 40vh; */
  }
  .companyPage_section_row {
    height: fit-content;
    /* height: 15vh; */
    /* height: 5rem; */
  }
  .content_section_grid_cell {
    /* border: 1px solid blue; */
    padding: 3rem 1.5rem;
    display: inline-block;
    width: 50%;
    overflow: scroll;
  }
  .content_section_grid_cell_img {
    height: 7rem;
    margin: 0;
  }
  .cell_team_btn {
    display: block;
    margin: 0 auto;
  }
  .content_section_grid_text {
    /* background-color: rgba(0, 0, 0, 0.9); */
    border-radius: 5px;
    font-size: 1.1rem;
  }
  .splinterCell {
    width: 90%;
    margin: 0 auto;
    padding: 2rem;
  }
  .is {
    font-size: 1.5rem !important;
  }
  .content_bg_img {
    margin: 5rem auto;
    /* margin: auto auto; */
    height: 45%;
  }
  .footerRow {
    margin-top: 3rem;
  }

  .footer_navList {
    /* border: 1px solid blue; */
  }
  .footer_navListItem {
    /* border: 1px solid blue; */
    display: inline-block;
    margin: 0 .5rem;
    /* float: right; */
  }
  .footer_socialList {
    /* border: 1px solid blue; */
  }
  .footer_socialListItem {
    /* border: 1px solid blue; */
    display: inline-block;
    margin: 0 1.5rem;
  }
  .footer_copyrightRow {
    height: 5rem;
  }

}
