@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Sacramento&display=swap');
/* font-family: 'Quicksand', sans-serif;
font-family: 'Sacramento', cursive; */

.main-navigation {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 3.5rem;
  /* background: #06D6A0; */
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.main-navigation__logo h1 {
  margin: 0;
  font-size: 1.5rem;
  /* color: #ffffff; */
}

.main-navigation__items {
  margin-left: 5rem;
}

.main-navigation__items ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
}

.main-navigation__items li {
  margin: 0 1rem;
}

.main-navigation__items a,
.main-navigation__items button {
  text-decoration: none;
  color: white;
  padding: 0.25rem 0.5rem;
  border: none;
  font: inherit;
  background: transparent;
  cursor: pointer;
  vertical-align: middle;
  margin: 0;
}

.main-navigation__items a:hover,
.main-navigation__items a:active,
.main-navigation__items a.active,
.main-navigation__items button:hover,
.main-navigation__items button:active {
  background: #ffffff;
  color: #5101d1;
  border-radius: 5px;
}

.navbarBrandLogo {
  height: 1.5rem;
  display: inline-block;
  margin: 0 1rem;
}

.navbarMaster {
  background-color: rgba(0,0,0, 0.85);
  /* background-color: rgba(58, 183, 149, 0.3); */
  padding: .5rem 3rem;
}

.basic-navbar-nav {
  /* margin-left: 40vw; */
}
.navbar_item {
  border: 1px solid #ffffff;
  border-radius: 5px;
  margin: 0 .5rem;

}

.navbar_item_social {

}

.navBar_link {
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;

}

.navbar_brand_text {
  font-family: 'Sacramento', cursive;
  display: inline-block;
}

.navbar_divider {
  border: 1px solid #ffffff;
  padding: 0 !important;
  margin: .5rem;
}

.dropdown-menu {
  background-color: rgba(0,0,0, 0.7);
}
.dropdown-item:hover, .dropdown-item:focus {
  color: #ffffff;
  background-color: rgba(243, 227, 124, 0.3);
}

.navbar_socialIcon {
  color: #ffffff;
}

@media only screen and (max-width: 420px) {

  .basic-navbar-nav {
    float: right;
  }

}
