@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Sacramento&display=swap');
/* font-family: 'Quicksand', sans-serif;
font-family: 'Sacramento', cursive; */

.main-navigation {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 3.5rem;
  /* background: #06D6A0; */
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.main-navigation__logo h1 {
  margin: 0;
  font-size: 1.5rem;
  /* color: #ffffff; */
}

.main-navigation__items {
  margin-left: 5rem;
}

.main-navigation__items ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
}

.main-navigation__items li {
  margin: 0 1rem;
}

.main-navigation__items a,
.main-navigation__items button {
  text-decoration: none;
  color: white;
  padding: 0.25rem 0.5rem;
  border: none;
  font: inherit;
  background: transparent;
  cursor: pointer;
  vertical-align: middle;
  margin: 0;
}

.main-navigation__items a:hover,
.main-navigation__items a:active,
.main-navigation__items a.active,
.main-navigation__items button:hover,
.main-navigation__items button:active {
  background: #ffffff;
  color: #5101d1;
  border-radius: 5px;
}

.navbarBrandLogo {
  height: 4rem;
  /* height: 1.5rem; */
  display: inline-block;
  margin: 0 1rem;
}

.navbarMaster {
  background-color: rgba(5, 138, 102, 0.85);
  /* background-color: rgba(13, 136, 111, 0.85); */
  /* background-color: rgba(198, 184, 169, 0.85); */
  /* background-color: rgba(245, 121, 131, 0.85); */
  /* background-color: rgba(241, 91, 181, 0.85); */
  /* background-color: rgba(255, 205, 178, 0.85); */
  /* background-color: rgba(0,0,0, 0.85); */
  /* background-color: rgba(58, 183, 149, 0.3); */
  padding: .5rem 4vw;
}

.basic-navbar-nav {
  /* margin-left: 40vw; */
}
.navbar_item {
  border: 1px solid #ffffff;
  border-radius: 15%;
  margin: 0 .5rem;

}

.navbar_item_social {

}

.navBar_link {
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.3rem;
  border: 1px solid #ffffff;
  border-radius: 25px;
  padding: 0.1rem 1rem;
  font-weight: medium;
  margin: 0 .5rem;
}
.navBar_link_selected {
  color: rgba(255, 205, 178, 0.85);
  font-size: 1rem;
  padding: .5rem;
  font-weight: bolder;
  margin: 0 .5rem;
}
.navBar_link_selected:hover {
  color: #ffffff !important;
}
.currentPageTxt {
  font-size: 3rem !important;
}

.thisPage {
  color: yellow;
}
.navBar_link:hover {
  color: #ffffff;
  border: none;
  font-size: 1.2rem;
}

.navbar_brand_text {
  font-family: 'Sacramento', cursive;
  display: inline-block;
  font-size: 2.3rem;
}

.xlink > p {
  border: none;
  font-size: 1.9rem;
  color: #ffffff;
  /* margin-top: .5rem; */
}
.navbar_divider {
  border: 1px solid #ffffff;
  padding: 0 !important;
  margin: .5rem;
}
.navbar_item {
  border: none;
}

.dropdown-menu {
  background-color: rgba(0,0,0, 0.7);
}
.dropdown-item:hover, .dropdown-item:focus {
  color: #ffffff;
  background-color: rgba(243, 227, 124, 0.3);
}

.navbar_socialIcon {
  color: #ffffff;
}

@media only screen and (min-width: 900px) and (max-width: 1150px) {
  .navbarMaster {
    padding: .5rem 1rem;
  }
  .navBar_link {
    font-size: .7rem;
  }
  .navBar_link:hover {
    font-size: .9rem;
  }
  .navbar_item {
    padding: 0rem;
    margin: 0;
  }
}


@media only screen and (max-width: 420px) {

  .basic-navbar-nav {
    float: right;
  }
  .navbarMaster {
    padding: .5rem 1.5rem;
  }
  .navbarBrandLogo {
    /* height: 1.5rem; */
    margin: 0;
  }
  .navBar_link {
    border: none;
  }

}
